@font-face {
  font-family: AbhayaLibre-Bold;
  src:url(/fonts/AbhayaLibre-Bold.ttf);
}

@font-face {
  font-family: Aladin-Regular;
  src: url(/fonts/Aladin-Regular.ttf);
}

@font-face {
  font-family: AdventProBold;
  src: url(/fonts/AdventPro-Bold.ttf);
}
