extends user_header
block title
  title 写文章


block link
  link(rel='stylesheet' href='/stylesheets/writeArticle.css')

      
block scripts
  script(type="text/javascript" src='http://127.0.0.1:8080/remote.js')
  script(type="text/javascript" src='/javascripts/jsonptest.js')
    
    

