extends user_header
block title
  title 写文章


block link
  link(rel='stylesheet' href='/stylesheets/writeArticle.css')
  link(rel='stylesheet' href='/stylesheets/richtext.css')

block right
  div.right
    span.update 
      input(id='post' class='unavailable' type='button' value='发表') 
    div(class='more')
      canvas(class='more-canvas' width='30' height='20')
      div(class='more-detail' style='visibility:hidden') 
        a(class='none' href='/user/drafts')
          div.more-draft 草稿
        a(class='none' href='/user/MyPost')
          div.more-draft 我的文章
    

block content
  section
    form(id='postArticle' enctype="multipart/form-data" method='post')
      div#pic
        div#canWrap
          canvas(id='canPic' width='35' height='30')
        p#addPic 添加图片(1920*540) 
        label(style='display:none')
          input(id='upInput' type='file' name='file1')
    
      input(id='title' name='title' type='text' placeholder='请输入标题(最多50个字)')
      - if(limit == 3) {
          input(id='author' name='author' type='text' value=`${author}`)
      - }
      - else {
          input(id='author' name='author' type='text' value=`${author}` style='display:none')
      - }
      
      input(id='summary' name='summary' type='text' placeholder='请用一句话概括你的故事')
      div(id='control', class='normal')
        button(id='ebold' title='加粗') B
        button(id='eitalic' title='斜体') 
          i I
        button(id='etitle' title='一级标题') I
        button(id='etitle2' title='二级标题') II
        button(id='eblock' title='引用') Q
        button(id='eul' title='列表') L
        button(id='ecolor' title='颜色') C
        button(id='eline' title='横线') S
        button(id='eindent' title='缩进') R
      div(id='content' contenteditable=true) 
        div
          br
      textarea(id='text' name='content' style='display:none')
      
block scripts
  script(src='/javascripts/jquery-3.4.1.js')
  script(type='module' src='/javascripts/writeArticle.js')
  script(type='module' src='/javascripts/richEdit.js')
  script(type='module' src='/javascripts/autosave.js')
    
    

